<!DOCTYPE html>
<html>
<head>
    <title>Node Js App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
         body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
            <!-- <h1><span class="fa fa-music"></span> + <span class="fa fa-coffee"></span> + <span class="fa fa-laptop"> = <span class="fa fa-code"></span></h1> -->
            <h2><span></span>InfoApp.</span></h2>
        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default btn btn-primary"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default btn btn-primary"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
</body>
</html>