<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Profile</h3>

					<p>
						<strong>Id</strong>: <%= user.id %><br>
						<strong>Username</strong>: <%= user.username %><br>
                        <!-- <strong>password</strong>: <%= user.password %><br> -->
                        <strong>Email</strong>: <%= user.email %><br>
                        <strong>Mobile</strong>: <%= user.mobile %><br>
                        <strong>Date of Birth</strong>: <%= user.dob %><br>
                        <strong>Location</strong>: <%= user.location %><br>
                    </p>

			</div>
		</div>
	</div>
	<a href="/logout" class="btn btn-default btn btn-primary">Logout</a>

</div>
</body>
</html>
